<div class="page">
    <div class="form-data">
    <form action="/bookcategories" method="POST" class="form-data-entry">
        <div>
            <label>Category id</label>
            <input type="text" name="cat_code" size="4" maxlength="3">
        </div>
        <div>
            <label>Category type</label>
            <input type="text" name="cat_type" size="21" maxlength="20">
        </div>        
        <button type="submit">Create Category</button>    
    </form>
    <form action="/bookcategories/search" method="POST" class="form-data-entry">
        <div>
            <label>Category id</label>
            <input type="text" name="cat_code" size="4" maxlength="3">
        </div>                
        <button type="submit">Search Category</button>    
    </form>
    <br>
    </div>

    <div class="form-data">
        <br>
        <% if(locals.errorMessage != null) { %>
            <div class="form-data-entry" style="color: red;"><%= errorMessage %></div>
         <% } %>
    </div>

    <div class="form-data"  style="margin-top: 2em;">
        <% if(bookcategories!=null) { %>
            <div class="counter-text">Category count : </div>
            <div class="counter"><%=bookcategories.length%></div>
        <% } %>    
    </div>

    <hr/>
    
    <div class="postbackground">
    <% if(bookcategories!=null) { %> 
    <% bookcategories.forEach(cat =>{ %>
    <div class="container" id="deleteandupdate">    
        <form action="/bookcategories/deletecategory" method="POST" class="formclass">
            <input style="visibility: hidden;" type="text" name="cat_code" value=<%= cat.cat_code %>>
            <div>Category code: <%= cat.cat_code %></div>
            <div>Category name: <%= cat.cat_type %></div>
            <button type="submit">Delete Category</button>            
        </form>    
        <form action="/bookcategories/update" method="POST"  class="form-data-entry">
            <input style="visibility: hidden;" type="text" name="cat_code" value=<%= cat.cat_code %>>
            <input placeholder="Category type" type="text" name="new_cat_type" size="21" maxlength="20">
            <button type="submit">Update Category</button>            
        </form>    
    </div>  
    <br>  
    <% }) %>   
    <% } %> 
    </div>
</div>